body {
    background-color: rgb(228, 207, 255);
}

main {
    width: 650px;
    margin: 50px auto 20px auto;
    background-color: rgb(143, 122, 219);
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;

}

header {
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(76, 29, 185);
    font: bolder;
    font-size: 40px;
}

img {
    max-width: 30%;

}

h2 {
    color: rgb(255, 240, 240);
}

p {
    color: rgb(255, 240, 240);
}

ul {
    list-style: none;
}

li {
    color: rgb(255, 240, 240);
    margin: 7px;
}

.highlight {
    list-style: square;
    color: yellow;
}

a {
    background-color: rgb(241, 241, 164);
    color: blueviolet;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

button {
    display: block;
    margin: auto;
    background-color: rgb(232, 221, 26);
    border: 1px;
    border-radius: 5px;
    padding: 10px;
}